@{
    ViewBag.Title = "Tutorial Page 2";
}

<h3>Tutorial - Page 2</h3>

<p>Here's the second thing you need to know about my website.</p>
<a asp-action="Index" asp-route-id="Page1" class="btn btn-dark">Prev</a>
<a asp-action="Index" asp-route-id="Page3" class="btn btn-dark">Next</a>