@{
    ViewBag.Title = "Tutorial Page 3";
}

<h3>Tutorial - Page 3</h3>

<p>Here's the third thing you need to know about my website.</p>
<a asp-action="Index" asp-route-id="Page2" class="btn btn-dark">Prev</a>