@model ContactModel

@{
    ViewBag.Title = "Delete Contact";
}

<h2>Delete contact</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ContactId" />

    <p>
        Are you sure you want to delete <strong>@Model.FirstName @Model.LastName</strong>?
    </p>

    <button type="submit" class="btn btn-dark">Yes</button>
    <a asp-action="Details" asp-controller="Contact" asp-route-id="@Model.ContactId" asp-route-slug="@Model.Slug" class="btn btn-dark">No</a>
</form>