@model Sale

@{
    ViewBag.Title = "Add Sale";
}

@section Scripts 
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<h3>@ViewBag.Title</h3>

<form asp-action="Add" method="post">
    <div class="form-group row">
        <label asp-for="Quarter" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4"> 
            <input asp-for="Quarter" class="col-sm-2 col-form-label" />
        </div>
        <div class="col">
            <span asp-validation-for="Quarter" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Year" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4"> 
            <input asp-for="Year" class="col-sm-2 col-form-label" />
        </div>
        <div class="col">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Amount" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-4"> 
            <input asp-for="Amount" class="col-sm-2 col-form-label" />
        </div>
        <div class="col">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="EmployeeID" class="col-sm-2 form-label"></label>
        <div class="col-sm-4">
            <select asp-for="EmployeeID" class="form-control" asp-items="@(new SelectList(ViewBag.Employees, "EmployeeID", "FullName"))">
                <option value="0"></option>
            </select>
        </div>

        <div class="col">
            <span asp-validation-for="EmployeeID" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Add</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
        </div>
    </div>
</form>